{% extends 'home.html' %}
{% block content %}
<div class="col-lg-12">

    <div class="card info-card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}<small> | <a class="mr-2" href="/question/{{ object.id }}/edit"><i class="bi  bi-pencil-square"></i></a></small></h5>

            <div class="d-flex align-items-center">
                <div class="ps-3">
                    <p>{{ object.body|safe }}</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}