{% extends 'home.html' %}
{% block content %}
{% for post in object_list %}
<div class="col-lg-12">
    <div class="card info-card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}<span>| 2022</span><small> | <a class="mr-2" href="/blog/post/{{ post.id }}/edit"><i class="bi  bi-pencil-square"></i></a></small></h5>
            <div class="d-flex align-items-center">
                <div class="ps-3">
                    <p>
                        {{ post.text|safe|slice:":255" }}
                        <a href="/blog/post/{{ post.id }}">more</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}