{% if user.is_authenticated %}
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-patch-question"></i><span>Questions</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/questions">
            <i class="bi bi-circle"></i><span>All</span>
          </a>
        </li>
        <li>
          <a href="/addQuestion">
            <i class="bi bi-circle"></i><span>Add Question</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Goals</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/goals">
            <i class="bi bi-circle"></i><span>All Gaols</span>
          </a>
        </li>
        <li>
          <a href="/goals/new">
            <i class="bi bi-circle"></i><span>Add New Goal</span>
          </a>
        </li>
        <li>
          <a href="/journal/journal/">
            <i class="bi bi-circle"></i><span>Goal Journal</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-post"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/blog/posts">
            <i class="bi bi-circle"></i><span>All Post</span>
          </a>
        </li>
        <li>
          <a href="/blog/addPost">
            <i class="bi bi-circle"></i><span>Add New Post</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tasks-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-list-task"></i><span>TasKs</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tasks-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tasks/">
            <i class="bi bi-circle"></i><span>All Tasks</span>
          </a>
        </li>
        <li>
          <a href="/tasks/list/add">
            <i class="bi bi-circle"></i><span>Add New Tasks List</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->
  </ul>

</aside><!-- End Sidebar-->
{% endif %}