<a href="{% url 'goal_detail' goal.id %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ goal }}</h5>
        {% if goal.current_score or goal.current_score == 0 %}
             <span class="badge bg-{{ goal.get_success_range_class }}">{{ goal.current_score }}</span>
        {% endif %}
    </div>
    <p class="mb-1">
        {% for category in goal.categories.all %}
        <span class="badge bg-secondary">{{ category }}</span>
        {% endfor %}
    </p>
    <small>{% if goal.target_date %}<i class="bi bi-calendar-check"></i> {{ goal.target_date }}{% else %}Ongoing{% endif %}</small>
</a>