{% extends 'home.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="col-lg-12">

    <div class="card info-card customers-card">
        <div class="filter">

            <form method="post" action="{% url 'goal_achieved' pk=goal.pk %}">{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block mt-2 mt-lg-0">Goal Achieved</button>
            </form>
        </div>
        <div class="card-body">
            <h5 class="card-title">Goal Detail <span>| This Year</span><small> | <a class="mr-2" href="{% url 'edit_goal' goal.pk %}"><i class="bi  bi-pencil-square"></i></a></small></h5>
            <div class="d-flex align-items-center">
                <div class="mr-4 goal-score-container">
                    {% if goal.current_score or goal.current_score == 0 %}
                    <div class="goal-score goal-score-{{ goal.get_success_range_class }}">{{ goal.current_score }}</div>
                    {% endif %}
                </div>
                <div class="ps-3">
                    <h6>{{ goal }}</h6>
                    <small>{% if goal.target_date %}<i class="bi bi-calendar-check"></i> {{ goal.target_date }}{% else %}Ongoing{% endif %}</small>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"></h5>

            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Actions</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Journals</button>
                </li>
                {% if display_chart %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-progress-tab" data-bs-toggle="tab" data-bs-target="#pills-progress" type="button" role="tab" aria-controls="pills-progress" aria-selected="false">Progress</button>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
                <div class="list-group tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                    {% include 'goals/_actions.html' %}
                </div>
                <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                    {% include 'journal/_journal.html' %}
                </div>
                {% if display_chart %}
                <div class="tab-pane fade" id="pills-progress" role="tabpanel" aria-labelledby="pills-progress-tab">
                    {% if not tracked_for_over_a_week %}
                    <div class="alert alert-info alert-dismissible">Track your progress over time and compare to other goals by logging your actions every day.</div>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <canvas id="goalChart" class="mb-4"></canvas>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div><!-- End Bordered Tabs -->

        </div>
    </div>
</div>
<div class="col-lg-4">
    {% include 'goals/_action_log.html' %}
</div>

{% endblock %}


{% block javascript %}{{ block.super }}
{% if display_chart %}
<script>
    var ctx = document.getElementById('goalChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            datasets: [{
                label: "{{ goal.goal }}",
                fill: false,
                borderColor: {% if goal.get_success_range_class == 'success' %}'#08D419'{% elif goal.get_success_range_class == 'warning' %}'#FFC105'{% else %}'#FF0017'{% endif %},
    data: [
        {% for score in goal_scores %}
    {# only show one score a day for longer running goals #}
    {% if tracked_for_over_a_week %}
    {% ifchanged score.calculated_at.day %}
    {
        x: new Date('{{ score.calculated_at|date:'o-m-d' }}'),
        y: {{ score.score }}
    },
    {% else %}{% endifchanged %}
    {% else %}
    {# only show one score per hour for shorter running goals #}
    {% ifchanged score.calculated_at.hour %}
    {
        x: new Date('{{ score.calculated_at|date:'c' }}'),
        y: {{ score.score }}
    },
    {% else %}{% endifchanged %}
    {% endif %}
    {% endfor %}
    ],
    },
    {% for goal in goals %}
    {
        label: "{{ goal.goal }}",
            hidden: true,
        fill: false,
        borderColor: {% if goal.get_success_range_class == 'success' %}'#08D419'{% elif goal.get_success_range_class == 'warning' %}'#FFC105'{% else %}'#FF0017'{% endif %},
        backgroundColor: '#fff',
            data: [
        {% for score in goal.goalscore_set.all %}
        {% ifchanged score.calculated_at.day and tracked_for_over_a_week%}
        {
            x: new Date('{{ score.calculated_at|date:'o-m-d' }}'),
            y: {{ score.score }}
        },
        {% else %}
        {% endifchanged %}
        {% endfor %}
    ]
    },
    {% endfor %}
    ]
    },

    // Configuration options go here
    options: {
        legend: {
            display: false
        },
        scales: {
            xAxes: {
                type: 'time',
                distribution: 'series',
                time: {
                    unit: 'week',
                }
            }
        }
    }
    });
</script>
{% endif %}
<script>
    $(function () {
        {% if display_chart %}
        {# Add goals to chart when check box is selected #}
        {% for goal in goals %}
        $("#goal{{ goal.pk }}-check-box").on('change', function () {
            if (this.checked) {
                var lineColor = randomColor();
                chart.data.datasets.forEach(function(goalData) {
                    if (goalData['label'] === '{{ goal.goal }}') {
                        goalData['borderColor'] = lineColor;
                        goalData['hidden'] = false;
                    }
                });
                $(this).parent().css('color', lineColor);
                chart.update();
            }
            else {
                chart.data.datasets.forEach(function(goalData) {
                    if (goalData['label'] === '{{ goal.goal }}') {
                        goalData['hidden'] = true;
                    }
                });
                $(this).parent().css('color', '#212529');
                chart.update();
            }
        });
        {% endfor %}
        {% endif %}
        {# Action log AJAX #}
        var $actionLogFormset = $('#action-log-formset');
        $actionLogFormset.on('change', function() {
            // alert('ho')
            var actionLog = $actionLogFormset.serialize();
            $.post('{% url 'action_log' goal.pk %}', actionLog, function(data) {
                $('.goal-score-container').html(
                    '<div class="goal-score goal-score-' + data['success_range_class'] + '">' + data['goal_score'] + '</div>'
                );
                $("select").val($("select option:first").val());  // reset select fields
                $('.action-log-list').prepend(data['action_log_entry']);
                var actionIDLog = "#action-" + data['action_id'] + "-log";
                $(actionIDLog).html(data['action_logged']);
                {% if display_chart %}
                // update the chart
                chart.data.datasets[0].data.push({x: new Date(data['score_calculated_at']), y:data['goal_score']});
                chart.update();
                {% endif %}
            });
        });
    });
</script>
{% endblock %}